<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!--MENU-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="container-logo">
          <h1 class="navbar-brand" href="/">BOOOOKS</h1>
          <img src="../images/fantasma.png" alt="Logo" class="logo-animada">
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">HOME</a>
            <a class="nav-link" href="/cadastrar">CADASTRAR LIVRO</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white card-header-cadastro">
              <img src="../images/cadastrar-titulo-icon.png" alt="Icone" class="icone-titulo">
              <h4 class="card-title mb-0"><%= title %></h4>
            </div>
            <div class="card-body">
              <form action="/editar/<%= livro.id %>" method="POST">
                <div class="mb-3">
                  <label for="titulo" class="form-label">
                    <img src="../images/titulo-icon.png" alt="Ícone">
                    Título *
                  </label>
                  <input type="text" class="form-control" id="titulo" name="titulo" value="<%= livro.titulo %>" required>
                </div>
                <div class="mb-3">
                  <label for="autor" class="form-label">
                    <img src="../images/autor-icon.png" alt="Ícone">
                    Autor *
                  </label>
                  <input type="text" class="form-control" id="autor" name="autor" value="<%= livro.autor %>" required>
                </div>
                <div class="mb-3">
                  <label for="genero" class="form-label">
                    <img src="../images/genero-icon.png" alt="Ícone">
                    Gênero *
                  </label>
                  <input type="text" class="form-control" id="genero" name="genero" value="<%= livro.genero %>" required>
                </div>
                <div class="mb-3">
                  <label for="ano" class="form-label">
                    <img src="../images/publicacao-icon.png" alt="Ícone">
                    Ano de Publicação *
                  </label>
                  <input type="number" class="form-control" id="ano" name="ano" value="<%= livro.ano %>" required>
                </div>
                <div class="mb-3">
                  <label for="capa" class="form-label">
                    <img src="../images/url-capa-icon.png" alt="Ícone">
                    URL da capa *
                  </label>
                  <input type="text" class="form-control" id="capa" name="capa" value="<%= livro.capa %>" required>
                </div>

                <div class="d-flex justify-content-between">
                  <a href="/detalhar/<%= livro.id %>" class="btn btn-secondary">Cancelar</a>
                  <button type="submit" class="btn btn-primary btn-cadastro">
                    <img src="../images/validar-cadastro.png" alt="Ícone">
                    Salvar Alterações
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>